#follower
  フォロワー
  = @user.followers.count
  人
#follow
  フォロー
  = @user.following.count
  人
= form_for(current_user, url: relationship_path(user), method: :delete, remote: true) do |form|
  = form.submit "フォロー解除"