#follower
  Follower:
  = @user.followers.count
#follow
  Follow:
  = @user.following.count
= form_for(current_user, url: relationship_path(user), method: :delete, remote: true) do |form|
  = form.submit "UnFollow"